<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of Pet Owners</title>
</head>
<body>
<!--/*@thymeVar id="owner" type="dmr.spring.dmrpetclinic.model.Owners*/-->

    <h1 th:text="'List of owners'">pets owners</h1>
    <table>
        <thead>
        <tr>
            <th>id</th>
            <th>First Name</th>
            <th>Lastg Name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="owner: ${owners}">
            <td th:text="${owner?.id}"></td>
            <td th:text="${owner?.firstName}"></td>
            <td th:text="${owner?.lastName}"></td>

        </tr>
        </tbody>
        </thead>
    </table>
</body>
</html>